@import '~@patternfly/patternfly/patternfly-addons.scss';
.chr-c-masthead {
  --pf-v6-c-masthead__content--MinHeight: 48px !important;
  --pf-v6-c-masthead__main--before--Right: 0;
  .chr-c-brand {
    width: 208px;
  }

  a.chr-c-button-masthead  {
     display: flex;
     align-items: center; 
     align-self: stretch;
     background: transparent;
     border: 1px solid var(--pf-v6-global--Color--300);
     border-bottom: 0;
     border-radius: 0;
     border-top: 0;
     color: var(--pf-v6-global--Color--light-100);
     text-decoration: none;
     &:hover {
        border-bottom: 3px solid var(--pf-v6-global--info-color--100);
        padding-bottom: 3px;
        &.disabled {
          border-bottom: none;
        }
      }
       &.active {
         border-bottom: 3px solid var(--pf-v6-global--info-color--100);
         padding-bottom: 3px;
       }
       &.disabled {
        color: var(--pf-v6-global--palette--black-500);
        .pf-v6-c-icon {
          --pf-v6-c-icon__content--Color: var(--pf-v6-global--palette--black-500);
         }
       }
     .pf-v6-c-icon {
       --pf-v6-c-icon__content--Color: var(--pf-v6-global--Color--light-100);
       margin-right: var(--pf-v6-global--spacer--sm);
     }
   }


  .chr-c-beta-switcher {
    --pf-v6-c-switch--FontSize: var(--pf-v6-global--FontSize--sm);
    .pf-v6-c-switch__label {
      color: var(--pf-v6-global--palette--black-400) !important;
      padding-right: 0;
    }
  }
  .chr-c-dropdown-item__stack {
    white-space: nowrap;
    * { color: var(--pf-v6-c-menu__list-item--m-disabled__item--Color); }
  }
  .chr-c-dropdown-item__stack--header,
  .chr-c-dropdown-item__stack--subValue {
    font-size: var(--pf-v6-global--FontSize--xs);
  }
  .chr-c-dropdown-item__stack--subValue { 
    padding-top: var(--pf-v6-global--spacer--xs);
  }
  .chr-c-dropdown-user-toggle {
    --pf-v6-c-dropdown__menu--Top: 100%;
    @media only screen and (max-width: var(pf-t--global--breakpoint--lg)) {
      --pf-v6-c-dropdown__toggle--before--BorderLeftColor: transparent;
    }
  }
  .chr-c-breadcrumbs__group {
    // group width and alignment
    grid-column: 2 / span 2;
    // make sure its under the wrapped items on small screens
    grid-row: 3;
  }

  .pf-v6-c-toolbar__item .pf-v6-c-notification-badge {
    &.pf-m-unread {
      --pf-v6-c-notification-badge--after--BackgroundColor: var(--pf-v6-global--palette--red-100);
      &:hover {--pf-v6-c-notification-badge--after--BackgroundColor: var(--pf-v6-global--palette--red-200)}
    }
  }
}
