.chr-c-footer {
  .pf-v6-c-icon {
    --pf-v6-c-icon__content--Color: grey;
    --pf-v6-c-icon__content--FontSize: 2.5em;
    &:hover {
      --pf-v6-c-icon__content--Color: black;
    }
  }
  .pf-v6-c-content {
    --pf-v6-c-content--a--Color: var(--pf-v6-global--Color--light-100);
    --pf-v6-c-content--a--hover--Color: var(--pf-v6-global--Color--light-100);
  }
}
